<html>
<head th:replace="~{base :: head}"></head>
<body>
    <div align="center">
        <h1>Criar novo professor</h1>
        <br />
        <form action="#" th:action="@{/professor/save}" th:object="${professor}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Nome:</td>
                    <td><input type="text" th:maxlength="30" th:field="*{nome}" /></td>
                </tr>
                <tr>
                    <td>Sexo:</td>
                    <td><input type="text" th:field="*{sexo}" /></td>
                </tr>
                <tr>
                    <td>Registro:</td>
                    <td><input type="text" th:maxlength="10" th:field="*{registro}" /></td>
                </tr>
            
                <tr>
                    <td colspan="2"><button type="submit">Salvar</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>